.navbar {
  background-image: url("cityscape.jpg");
  background-size: 250px 200px;
  background-repeat: repeat-x;
  min-height: 200px;
  background-position: absolute;
}
.my-navbar {
  background-color: #718c83;
}
.my-navbar .navbar-mood-city {
  color: #D9FFEF;
    font-family: Bobber;
    font-size: 50px;
    text-decoration: none;
}
.my-navbar .navbar-mood-city:hover {
  color: #D9FFEF;
}
.my-navbar .nav-link {
  color: #D9FFEF;
  font-family: Bobber;
}
.my-navbar .nav-link:hover {
  color: #4c5445;
}
.my-navbar .navbar-mood-city .navbar-nav {
  vertical-align: bottom;
}
.custom-toggler.navbar-toggler {
  border-color: #D9FFEF;
}
.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(217,255,239, 0.7)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
body {
  background-color: #718c83;
}
@font-face {
  font-family: NewRegular;
  src: url(new-regular.ttf);
}
h1 {
  font-family: NewRegular;
  font-size: 70px;
}
p {
  font-family: sans-serif;
  padding-top: 10px;
  padding-bottom: 10px;
}
body {
  background-color: #718c83;
}

p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 150px;
  margin-inline-end: 150px;
}
.resources {
 text-align: left;
 padding-top: 20px;
 padding-bottom: 0;
}
.simple-subscription-form {
  background: #0c3e5f;
  color: #fefefe;
  padding: 2rem;
  border-radius: 0;
}
/* .simple-subscription-form .button {
margin-bottom: 0;
border-radius: 0 0 0 0;
}
.form {
padding-left: 0;
} */
